* {
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

#agenda {
    width: 100%;
    padding: 2em;
}

.section {
    margin: 3em 0;
    width: 100%;
}

.section-title {
    font-family: 'Didot';
    font-weight: 300;
    font-size: 150%;
    border-bottom: solid 2px #ad8f51;
    padding-bottom: .4em;
    color: #856a30;
    width: 100%;
}

.row {
    border-bottom: solid 2px #c6c2b2;
    padding: 1em;
    width: 100%;
}

.row:nth-child(2) {
    border-top: solid 2px #c6c2b2;
}

.row-title {
    font-family: 'Helvetica';
    color: #101010;
    font-size: 110%;
    font-weight: 300;
}

.row-category {
    font-family: 'Helvetica';
    color: #a08d82;
    font-size: 90%;
    font-weight: 400;
}

.row-todo {
    font-family: 'Helvetica';
    color: #101010;
    font-size: 80%;
    font-weight: 300;
    background: #ceb88a;
    padding: .5em;
}

.left-container {
    display: inline-block;
    height: 100%;
}

.right-container {
    display: inline-block;
    float: right;
    padding: 0.4em;
}

.done div {
    opacity: 0.5;
}
